

/* font families 
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Mandali', sans-serif;
font-family: 'Duru Sans', sans-serif;
          */

          html{
              font-family: 'Lato', sans-serif;
          }

          body{
              font-family: 'Lato', sans-serif;
          }
          header{background-color:#373748;
          color:white;
          width:100%;
          position: sticky;
          padding:0.3rem;
        }

        footer{
            background-color:#373748;
            color:white;
            width:100%;
            padding:0.3rem;
        }

          h1{
              font-family: 'Russo One', sans-serif;
              font-size:1.3rem;
              vertical-align: middle;
              text-transform: uppercase;
              letter-spacing: 0.5em; 
              padding:0.3rem;
              text-align:center;
             
            
          }

          h2{
            font-family: 'Russo One', sans-serif;
            font-size:0.8rem;
            vertical-align: middle;
            text-transform: uppercase;
            letter-spacing: 0.5em;  
            padding:0.3rem;
            text-align:center;
          }

          h3{
            font-family: 'Russo One', sans-serif;
            font-size:1.8rem;
            vertical-align: middle;
            letter-spacing: 0.1em;  
            padding:0.3rem;
            text-align:center;
          }

          .social_bar li {
              display: inline;
          }
.fa{
     font-size:1.8rem;
     margin:2px;padding:2px;
     background: -webkit-linear-gradient(rgb(255, 196, 0), rgb(255, 20, 137),rgb(123, 204, 231));
     -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
nav{
   
}
nav li{
    display: inline;
    list-style-type: none;
    padding:0.3rem;
}

nav li a {
    font-family: 'Mandali', sans-serif;
    font-size:0.8rem;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    padding:0.3rem;
    text-align:center;
}

nav li a:hover {
    background: -webkit-linear-gradient(rgb(255, 196, 0), rgb(255, 20, 137),rgb(123, 204, 231));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

img{
    
}
